# Getting and Knowing your Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
from pandas import Series, DataFrame
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [4]:
chipo = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv', 
                delimiter='\t')

### Step 4. See the first 10 entries

In [5]:
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

### Step 5. What is the number of observations in the dataset?

In [22]:
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
order_id              4622 non-null int64
quantity              4622 non-null int64
item_name             4622 non-null object
choice_description    3376 non-null object
item_price            4622 non-null object
dtypes: int64(2), object(3)
memory usage: 180.6+ KB

### Step 6. What is the number of columns in the dataset?

In [8]:
len(chipo.columns)
#chipo.shape[1]

5

### Step 7. Print the name of all the columns.

In [10]:
chipo.columns

Index([u'order_id', u'quantity', u'item_name', u'choice_description',
       u'item_price'],
      dtype='object')

### Step 8. How is the dataset indexed?

In [11]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most ordered item?

In [27]:
chipo.groupby('item_name').sum().sort_values(by='quantity', ascending=False).head(1)

              order_id  quantity
item_name
Chicken Bowl    713926       761

### Step 10. How many items were ordered?

In [29]:
#Reference 9

### Step 11. What was the most ordered item in the choice_description column?

In [28]:
chipo.groupby('choice_description').sum().sort_values('quantity', ascending=False).head(1)

                    order_id  quantity
choice_description
[Diet Coke]           123455       159

### Step 12. How many items were orderd in total?

In [33]:
chipo['quantity'].sum()

4972L

### Step 13. Turn the item price into a float

In [34]:
dollarizer = lambda x: float(x[1:-1])
chipo.item_price = chipo.item_price.apply(dollarizer)

### Step 14. How much was the revenue for the period in the dataset?

In [39]:
round(((chipo['item_price']*chipo['quantity']).sum()),2)

39237.02

### Step 15. How many orders were made in the period?

In [48]:
chipo['order_id'].value_counts().count()

1834

### Step 16. What is the average amount per order?

In [50]:
round((chipo.groupby('order_id').sum().mean()['item_price']), 2)

18.81

### Step 17. How many different items are sold?

In [51]:
chipo.item_name.value_counts().count()

50